/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background-color: #D2D6DB;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 200px;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.main-container{
  background-color: #fff;
  width: 340px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 24px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px -1px rgba(0, 0, 0, 0.10);
  flex-direction: column;
  border-radius: 8px;
  margin-top: 200px;
}

.img{
  width: 48px;
  height: 48px;
}

.profile_container{
  display: flex;
  padding-bottom: 16px;
}

.profile_info{
  padding-left: 16px;
}

.profile_name{
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px;
  color: #171717;
}

.profile_username{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  color: #525252;
}

.profile_description{
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  color: #525252;
}